.CodeMirror-dialog {
  position: relative;
}

.CodeMirror-dialog > div {
  position: absolute;
  top: 0; left: 0; right: 0;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: #333;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}
/* BASICS */

.teacss-ui .CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
}
.teacss-ui .CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */

.teacss-ui .CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.teacss-ui .CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.teacss-ui .CodeMirror-scrollbar-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.teacss-ui .CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}
.teacss-ui .CodeMirror-linenumbers {
  padding: 0 4px;
}
.teacss-ui .CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
}

/* CURSOR */

.teacss-ui .CodeMirror pre.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
.teacss-ui .CodeMirror pre.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.teacss-ui .cm-keymap-fat-cursor pre.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: transparent;
  background: rgba(0, 200, 0, .4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800);
}
/* Kludge to turn off filter in ie9+, which also accepts rgba */
.cm-keymap-fat-cursor pre.CodeMirror-cursor:not(#nonsense_id) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* Can style cursor different in overwrite (non-insert) mode */
.teacss-ui .CodeMirror pre.CodeMirror-cursor.CodeMirror-overwrite {}

/* DEFAULT THEME */

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable {color: black;}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-property {color: black;}
.cm-s-default .cm-operator {color: black;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-error {color: #f00;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-emstrong {font-style: italic; font-weight: bold;}
.cm-link {text-decoration: underline;}

.cm-invalidchar {color: #f00;}

.teacss-ui div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
.teacss-ui div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.teacss-ui .CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.teacss-ui .CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror, and the paddings in .CodeMirror-sizer */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px; padding-right: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.teacss-ui .CodeMirror-sizer {
  position: relative;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.teacss-ui .CodeMirror-vscrollbar, .teacss-ui .CodeMirror-hscrollbar, .teacss-ui .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.teacss-ui .CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.teacss-ui .CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.teacss-ui .CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
  z-index: 6;
}

.teacss-ui .CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  height: 100%;
  z-index: 3;
}
.teacss-ui .CodeMirror-gutter {
  height: 100%;
  float: left;
}
.teacss-ui .CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.teacss-ui .CodeMirror-lines {
  cursor: text;
}
.teacss-ui .CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
}
.teacss-ui .CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.teacss-ui .CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.teacss-ui .CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.teacss-ui .CodeMirror-measure {
  position: absolute;
  width: 100%; height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.teacss-ui .CodeMirror-measure pre { position: static; }

.teacss-ui .CodeMirror pre.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0;
}
.teacss-ui .CodeMirror-focused pre.CodeMirror-cursor {
  visibility: visible;
}

.teacss-ui div.CodeMirror-selected { background: #d9d9d9; }
.teacss-ui .CodeMirror-focused div.CodeMirror-selected { background: #d7d4f0; }

.teacss-ui .CodeMirror-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror pre.CodeMirror-cursor {
    visibility: hidden;
  }
}

.cm-mixin {
    color: #00a;
    font-weight: bold;
}

.cm-variable {
    color:#f70;
}

.cm-selector {
    font-weight: bold;
}

.cm-comment_line {
    color: #aa5500;
}

.cm-import_start, .cm-append_start, .cm-js_line_start,  .cm-js_inline_start, .cm-js_block_start, .cm-js_block_end, .cm-scope {
    color: #00a;
    font-weight: bold;
}

.cm-import, .cm-append {
    color: green;
}
/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-default li, 
.jstree-default ins { background-image:url(lib/jstree/themes/default/d.png); background-repeat:no-repeat; background-color:transparent; }
.jstree-default li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-72px 0; }
.jstree-default .jstree-closed > ins { background-position:-54px 0; }
.jstree-default .jstree-leaf > ins { background-position:-36px 0; }

.jstree-default .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree-default .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-default a .jstree-icon { background-position:-56px -19px; }
.jstree-default a.jstree-loading .jstree-icon { background:url(lib/jstree/themes/default/throbber.gif) center center no-repeat !important; }

.jstree-default.jstree-focused > ul, .jstree-default.jstree-focused { background:#ffffff; }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-default .jstree-search { font-style:italic; }

.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url(lib/jstree/themes/default/d.png) -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url(lib/jstree/themes/default/d.png) -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url(lib/jstree/themes/default/d.png) -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-default a.jstree-search { color:aqua; }
.jstree-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-default li, 
.jstree-default ins,
#vakata-dragged.jstree-default .jstree-invalid, 
#vakata-dragged.jstree-default .jstree-ok, 
#jstree-marker.jstree-default { _background-image:url(lib/jstree/themes/default/d.gif); }
.jstree-default .jstree-open ins { _background-position:-72px 0; }
.jstree-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-default-context ins { _display:none; }
#vakata-contextmenu.jstree-default-context li { _zoom:1; }
.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */.teacss-ui .CodeMirror {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top:2px;
    left:0;
    right:0;
    bottom:0;
}
.jstree-icon.project {
    background: url(src/../lib/jstree/icons/project.png) 0 0 !important;
}
.jstree-icon.file {
    background: url(src/../lib/jstree/icons/file.png) 0 0 !important;
}
.jstree-icon.exe, .jstree-icon.bat {
    background: url(src/../lib/jstree/icons/application.png) 0 0 !important;
}
.jstree-icon.tea {
    background: url(src/../lib/jstree/icons/code.png) 0 0 !important;
}
.jstree-icon.css {
    background: url(src/../lib/jstree/icons/css.png) 0 0 !important;
}
.jstree-icon.sql {
    background: url(src/../lib/jstree/icons/db.png) 0 0 !important;
}
.jstree-icon.doc, .jstree-icon.docx {
    background: url(src/../lib/jstree/icons/doc.png) 0 0 !important;
}
.jstree-icon.avi, .jstree-icon.mpg, .jstree-icon.mpeg {
    background: url(src/../lib/jstree/icons/film.png) 0 0 !important;
}
.jstree-icon.swf {
    background: url(src/../lib/jstree/icons/flash.png) 0 0 !important;
}
.jstree-icon.html, .jstree-icon.htm {
    background: url(src/../lib/jstree/icons/html.png) 0 0 !important;
}
.jstree-icon.mp3, .jstree-icon.wav {
    background: url(src/../lib/jstree/icons/music.png) 0 0 !important;
}
.jstree-icon.pdf {
    background: url(src/../lib/jstree/icons/pdf.png) 0 0 !important;
}
.jstree-icon.php {
    background: url(src/../lib/jstree/icons/php.png) 0 0 !important;
}
.jstree-icon.jpg, .jstree-icon.png, .jstree-icon.gif {
    background: url(src/../lib/jstree/icons/picture.png) 0 0 !important;
}
.jstree-icon.ppt, .jstree-icon.pptx {
    background: url(src/../lib/jstree/icons/ppt.png) 0 0 !important;
}
.jstree-icon.psd {
    background: url(src/../lib/jstree/icons/psd.png) 0 0 !important;
}
.jstree-icon.rb {
    background: url(src/../lib/jstree/icons/ruby.png) 0 0 !important;
}
.jstree-icon.js {
    background: url(src/../lib/jstree/icons/script.png) 0 0 !important;
}
.jstree-icon.txt, .jstree-icon.haml {
    background: url(src/../lib/jstree/icons/txt.png) 0 0 !important;
}
.jstree-icon.xls, .jstree-icon.xlsx {
    background: url(src/../lib/jstree/icons/xls.png) 0 0 !important;
}
.jstree-icon.zop {
    background: url(src/../lib/jstree/icons/zip.png) 0 0 !important;
}
#teacss-layer {
    position: absolute;
}
.teacss-ui .ui-drop-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -22px;
}
.teacss-ui .ui-drop-icons div {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin:2px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #555;
    color: #555;
    z-index: 100;
    position: relative;
    background: white;
    cursor: pointer;
}
.teacss-ui .ui-drop-icons div.hover, .teacss-ui .ui-drop-icons div:hover {
    border: 1px solid #fca;
    color: #fca;
}
.teacss-ui .ui-tabs-panel > div > .ui-tabs {
    border: none;
}
.teacss-ui ul.ui-tabs-nav li .ui-button-text {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: 1.4em;
}
.teacss-ui .ui-tabs .ui-tabs-nav {
    font-size: 0;
    overflow: hidden;
    white-space:nowrap;
    position: relative;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.teacss-ui .ui-tabs .ui-tabs-nav li {
    float: none;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}
.teacss-ui .ui-tabs .ui-tabs-nav:hover {
    overflow-x: auto;
    z-index: 50000;
}
.button-label {
    background:white;
    display:inline-block;
    border:1px solid #aaa;
    padding:0 2px;
}
.teacss-ui .ui-tabs-nav li.changed a {
    color: #000;
}
.teacss-ui .ui-tabs-nav li.changed a:after {
    content: " *";
}
#teacss-layer .adjust-color span {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #000;
    vertical-align: middle;
}
.teacss-ui .editorPanel-toolbar {
    background: #eee;
    padding: 4px 0;
    height: 19px;
}
.teacss-ui .editorPanel-toolbar .ui-button {
    border: none;
    background: none;
    font-size: 12px;
}
.teacss-ui .editorPanel-toolbar .ui-button-text-icon-primary .ui-button-text {
    padding: 0.15em 1em 0.15em 2.1em;
}
.teacss-ui .editorPanel-toolbar .ui-button-text-only .ui-button-text {
    padding: 0.15em 1em 0.15em 1em;
}
.teacss-ui.editorPanel,
#vakata-contextmenu {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
